MAIN_BOT_TOKEN=your_main_bot_token
ADMIN_BOT_TOKEN=your_admin_bot_token
ADMIN_USERNAME=s4toshi11
DISCORD_INVITE=https://discord.gg/EkAZWtz3wr
MANUAL_URL=https://teletype.in/@krutoyparen/13kAtDSwiE6
DB_PATH=applications.db
