MAIN_BOT_TOKEN=8963743753:AAH3BD4W3iuua6WFC91WTrum-g-opF9Niug
ADMIN_BOT_TOKEN=8846044302:AAFGHKZ4qAIga5PVnH7i-HT6o9VRAlQ8Dtk
ADMIN_USERNAME=s4toshi11
DISCORD_INVITE=https://discord.gg/EkAZWtz3wr
MANUAL_URL=https://teletype.in/@krutoyparen/13kAtDSwiE6
DB_PATH=applications.db
